<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paytmmp</string>
		<string>gpay</string>
		<string>bhim</string>
		<string>upi</string>
		<string>phonepe</string>
		<string>wc</string>
		<string>metamask</string>
		<string>trust</string>
		<string>safe</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>zerion</string>
		<string>imtokenv2</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
	</array>
</dict>
</plist>
